:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-primary-color: #000000;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --light-address-color: #ffffff99;
  --dark-accent-color: #2f303a;
  --grey-color: #f5f4fa;
  --border-color: #ececec;
  --project-card-border-color: #eeeeee;
  --social-link-color: #afb1b8;
  --placeholder-color: #75757580;
  --input-border-color: #21212133;
  --subscribe-border-color: #ffffff4d;
  --subscribe-shadow-color: #00000026;
  --subscribe-input-text-color: #ffffff99;
  --social-list-link-footer-background-color: #ffffff1a;
  --btn-submit-color: #00000026;
  --header-text-margin-index: 10px;
  --card-padding-index: 30px;
  --header-text-margin-portfolio: 4px;
  --card-padding-portfolio: 20px;
  --card-margin: 30px;
  --button-radius: 4px;
  --main-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--main-white-color);
  color: var(--primary-text-color);
}

@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

.social-list, .nav-list, .contact-nav, .advantage__list, .team-list, .works-list, .filter-list, .projects-list, .client-list, .social-site-list {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 320px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section__title {
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (min-width: 320px) {
  .section__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-link-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link--dark {
  background: var(--social-list-link-footer-background-color);
  color: var(--main-white-color);
}

.social-list__icon {
  fill: currentColor;
}

.button {
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-white-color);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.header-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .header-container {
    justify-content: space-between;
  }
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  display: block;
}

@media screen and (min-width: 320px) {
  .logo {
    font-size: 24px;
    line-height: 1.168;
    padding-bottom: 16px;
    padding-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-bottom: 26px;
    padding-top: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.15;
    padding-bottom: 25px;
    padding-top: 24px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 93px;
  }
}

.logo__studio-part {
  color: var(--logo-primary-color);
}

.logo--light {
  margin: 0 0 20px 0;
  padding: 0;
}

.logo__studio-part--light {
  color: var(--main-white-color);
}

.site-nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin-right: 93px;
  }
}

.nav-list {
  display: flex;
}

@media (max-width: 768px) {
  .header .nav-list {
    display: none;
  }
}

.nav-list__link {
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  position: relative;
}

@media (min-width: 768px) {
  .nav-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: currentColor;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .contact-nav {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav {
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header .contact-nav {
    display: none;
  }
}

.contact-nav-vertical {
  flex-flow: column;
}

@media screen and (min-width: 320px) {
  .contact-nav-vertical {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav-vertical {
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-nav__item + .contact-nav__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__item + .contact-nav__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-nav__item--vertical + .contact-nav__item--vertical {
    margin-top: 0;
  }
}

.contact-nav__item--vertical:not(:last-child) {
  margin-bottom: 9px;
}

.contact-nav__item--vertical + .contact-nav__item--vertical {
  margin-left: 0;
}

.contact-nav__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .contact-nav__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .mail-icon {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-icon {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .phone-icon {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .phone-icon {
    width: 10px;
    height: 16px;
  }
}

.contact-nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 320px) {
  .contact-nav__link {
    font-size: 12px;
    line-height: 1.168;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__link {
    font-size: 14px;
    line-height: 1.15;
  }
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: var(--accent-color);
}

.contact-nav__link--light {
  color: var(--light-address-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.office-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-white-color);
  font-style: normal;
  display: block;
}

@media screen and (min-width: 320px) {
  .office-address {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .office-address {
    margin-bottom: 9px;
  }
}

.footer {
  background-color: var(--dark-accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: start;
}

.footer-container {
  display: flex;
}

@media screen and (min-width: 320px) {
  .footer-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer__address {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) {
  .footer__address {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    align-items: flex-start;
  }
}

.footer-additional-container {
  display: flex;
}

@media screen and (min-width: 320px) {
  .footer-additional-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer-additional-container {
    flex-direction: row;
  }
}

.join-us__title, .subscribe__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.143;
  color: var(--main-white-color);
  margin-bottom: 20px;
}

.join-us, .subscribe {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) {
  .join-us, .subscribe {
    align-items: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .join-us, .subscribe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join-us, .subscribe {
    align-items: flex-start;
    margin-left: 70px;
    padding-top: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .join-us {
    padding-top: 5px;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .subscribe {
    margin-top: 60px;
  }
}

.subscribe__input {
  height: 50px;
  border: 1px solid var(--subscribe-border-color);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px var(--subscribe-shadow-color);
  border-radius: 4px;
  background-color: transparent;
  color: var(--main-white-color);
  padding: 15px 16px;
}

@media screen and (min-width: 320px) {
  .subscribe__input {
    width: 290px;
  }
}

@media screen and (min-width: 480px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--subscribe-input-text-color);
}

.subscribe__form {
  display: flex;
}

@media screen and (min-width: 320px) {
  .subscribe__form {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    flex-direction: row;
  }
}

.subscribe__btn {
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .subscribe__btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
  }
}

.button__append {
  margin-left: 10px;
}

.hero-section__title {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  justify-self: center;
  margin: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 320px) {
  .hero-section__title {
    font-size: 21px;
    line-height: 1.87;
    width: 300px;
  }
}

@media screen and (min-width: 480px) {
  .hero-section__title {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero-section {
  background-color: var(--dark-accent-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 50, 77, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 50, 77, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/background-mobile@2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 50, 77, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/background-tablet.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 50, 77, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/background-tablet@2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 50, 77, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/background-laptop.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 50, 77, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/background-laptop@2x.jpg");
  }
}

@media screen and (min-width: 320px) {
  .hero-section {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 320px;
    height: 400px;
  }
}

@media screen and (min-width: 480px) {
  .hero-section {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 480px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
  }
}

.hero-section__btn {
  padding: 10px 32px;
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-margin));
    margin-top: calc(-1 * var(--card-margin));
  }
}

@media screen and (min-width: 320px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__item {
    flex-basis: calc((100% - 2 * var(--card-margin)) / 2);
    margin-left: var(--card-margin);
    margin-top: var(--card-margin);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__item {
    flex-basis: calc((100% - 4 * var(--card-margin)) / 4);
    margin-left: var(--card-margin);
    margin-top: var(--card-margin);
  }
}

.advantage__header {
  color: var(--title-text-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: var(--header-text-margin-index);
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .advantage__header {
    text-align: center;
  }
}

.advantage__text {
  line-height: 1.71;
}

.advantages-section__title {
  display: none;
}

.advantage__icon {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--grey-color);
  border-radius: 4px;
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-margin));
    margin-top: calc(-1 * var(--card-margin));
  }
}

.team-list__item {
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 320px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc((100% - 2 * var(--card-margin)) / 2);
    margin-left: var(--card-margin);
    margin-top: var(--card-margin);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 4 * var(--card-margin)) / 4);
    margin-left: var(--card-margin);
    margin-top: var(--card-margin);
  }
}

.team-member-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  margin-bottom: var(--header-text-margin-index);
}

.team-member-card__position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-section {
  background-color: var(--grey-color);
}

.team-member-card {
  padding-bottom: var(--card-padding-index);
  text-align: center;
}

@media screen and (min-width: 320px) {
  .team-member-card {
    padding-top: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member-card {
    padding-top: var(--card-padding-index);
  }
}

@media screen and (min-width: 320px) {
  .team-list__photo {
    width: 290px;
    height: 280px;
  }
}

@media screen and (min-width: 480px) {
  .team-list__photo {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__photo {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__photo {
    width: 270px;
    height: 260px;
  }
}

.works-section {
  padding-top: 0;
}

@media screen and (max-width: 1199px) and (max-width: 1200px) {
  .works-section {
    display: none;
  }
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-margin));
  margin-top: calc(-1 * var(--card-margin));
}

.works-list__item {
  flex-basis: calc((100% - 3 * var(--card-margin)) / 3);
  margin-left: var(--card-margin);
  margin-top: var(--card-margin);
}

.works-list__thumb {
  position: relative;
}

.works-list__title-box {
  background: rgba(48, 49, 59, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.works-list__title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.filter-list__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--title-text-color);
  background-color: var(--grey-color);
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: var(--button-radius);
  border-color: transparent;
  text-align: center;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}

.filter-list__item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.filter-list__item:hover, .filter-list__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .filter-list__item:nth-child(2n) {
    margin-left: 8px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .filter-list__item:nth-child(n + 3) {
    margin-top: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .filter-list__item:nth-child(n + 4) {
    margin-top: 15px;
  }
}

@media screen and (min-width: 480px) {
  .filter-list__item:not(:nth-child(3n + 1)) {
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list__item + .filter-list__item {
    margin-left: 8px;
  }
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 320px) {
  .filter-list {
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-margin));
    margin-top: calc(-1 * var(--card-margin));
  }
}

.project-card__name {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-card__type {
  font-size: 16px;
  line-height: 1.88;
}

.projects-section__heading {
  display: none;
}

.project-card {
  padding-top: var(--card-padding-portfolio);
  padding-bottom: var(--card-padding-portfolio);
  border: 1px solid var(--project-card-border-color);
  border-top: none;
  padding-right: 24px;
  padding-left: 24px;
  flex-grow: 1;
}

.projects-list__item {
  display: flex;
  flex-direction: column;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 320px) {
  .projects-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .projects-list__item {
    flex-basis: calc((100% - 2 * var(--card-margin)) / 2);
    margin-left: var(--card-margin);
    margin-top: var(--card-margin);
  }
}

@media screen and (min-width: 1200px) {
  .projects-list__item {
    flex-basis: calc((100% - 3 * var(--card-margin)) / 3);
  }
}

.projects-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__thumb {
  position: relative;
  overflow: hidden;
}

.projects-list__thumb::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  transition: transform 250ms var(--timing-function);
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
}

.projects-list__item:hover .projects-list__thumb::before {
  transform: translate(0, 0);
}

.projects-list__description-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-white-color);
}

.projects-list__description-box {
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  transition: transform 250ms var(--timing-function);
  width: 100%;
  height: 100%;
}

.projects-list__item:hover .projects-list__description-box {
  transform: translate(0, 0);
}

@media screen and (min-width: 480px) {
  .projects-list__photo {
    width: 450px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) {
  .projects-list__photo {
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list__photo {
    width: 370px;
    height: 294px;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 420px) {
  .client-list {
    margin-left: calc(-1 * var(--card-margin));
    margin-top: calc(-1 * var(--card-margin));
  }
}

@media screen and (min-width: 320px) {
  .client-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .client-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 420px) {
  .client-list__item {
    flex-basis: calc((100% - 2 * var(--card-margin)) / 2);
    margin-left: var(--card-margin);
    margin-top: var(--card-margin);
  }
}

@media screen and (min-width: 768px) {
  .client-list__item {
    flex-basis: calc((100% - 3 * var(--card-margin)) / 3);
    margin-left: var(--card-margin);
    margin-top: var(--card-margin);
  }
}

@media screen and (min-width: 1200px) {
  .client-list__item {
    flex-basis: calc((100% - 6 * var(--card-margin)) / 6);
    margin-left: var(--card-margin);
    margin-top: var(--card-margin);
  }
}

.client-list__link {
  height: 92px;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-link-color);
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 320px) {
  .client-list__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .client-list__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list__link {
    width: 170px;
  }
}

.client-list__link:hover, .client-list__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-list__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--button-radius);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

@media screen and (min-width: 320px) {
  .modal {
    min-height: 609px;
    min-width: 290px;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    min-height: 609px;
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

.btn-close {
  color: var(--logo-primary-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.btn-close:focus, .btn-close:hover {
  color: var(--accent-color);
}

.btn-close__icon {
  fill: currentColor;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal__title {
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

@media screen and (min-width: 320px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.btn-submit-form {
  display: flex;
  margin: 30px auto 0;
  padding: 10px 56px 10px 55px;
  box-shadow: 0px 4px 4px var(--btn-submit-color);
}

.form {
  width: 100%;
}

.form__input {
  display: block;
  font: inherit;
  width: 100%;
  border: 1px solid var(--input-border-color);
  border-radius: var(--button-radius);
  padding: 11px 12px;
  padding-left: 30px;
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form__input:focus {
  outline-color: var(--accent-color);
}

.form__field + .form__field {
  margin-top: 10px;
}

.input-box {
  position: relative;
  color: var(--title-text-color);
}

.form__label {
  display: block;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form__label + .input-box {
  margin-top: 4px;
}

#comment {
  padding: 12px 16px;
  resize: none;
}

#comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form__input:focus ~ .form__icon {
  color: var(--accent-color);
}

.policy-checkbox__text {
  display: inline;
}

.policy-checkbox {
  margin-top: 20px;
  display: block;
  text-align: center;
  cursor: pointer;
}

.policy-checkbox__contract-terms-link {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.policy-checkbox__input {
  appearance: none;
  opacity: 0;
}

.policy-checkbox__icon {
  display: inline-block;
  border: 1px solid var(--title-text-color);
  border-radius: 3px;
  fill: var(--main-white-color);
}

.policy-checkbox__input:checked + .policy-checkbox__icon {
  border: none;
  fill: var(--accent-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 83px 48px 40px;
  background-color: var(--main-white-color);
  z-index: 999;
  overflow-y: scroll;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--title-text-color);
}

.menu-container .nav-list {
  flex-flow: column;
}

.menu-container .contact-nav {
  flex-flow: column;
}

@media screen and (min-width: 320px) {
  .menu-container .contact-nav {
    margin-top: 100px;
  }
}

@media screen and (min-width: 480px) {
  .menu-container .contact-nav {
    margin-top: 302px;
  }
}

.menu-container .nav-list__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.menu-container .nav-list__item + .nav-list__item {
  margin-top: 32px;
}

.nav-list__item:hover, .nav-list__item:focus {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover, .menu-toggle:focus {
  color: var(--accent-color);
}

.contact-nav__link--blue {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 320px) {
  .contact-nav__link--blue {
    font-size: 28px;
    line-height: 1.176;
  }
}

@media screen and (min-width: 480px) {
  .contact-nav__link--blue {
    font-size: 34px;
    line-height: 1.176;
  }
}

.contact-nav__link--big {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 32px;
}

@media screen and (min-width: 320px) {
  .contact-nav__link--big {
    font-size: 22px;
    line-height: 1.168;
  }
}

@media screen and (min-width: 480px) {
  .contact-nav__link--big {
    font-size: 24px;
    line-height: 1.168;
  }
}

.menu-icon {
  fill: currentColor;
}

.social-site-list {
  display: flex;
}

.social-site-list {
  margin-top: 64px;
}

.social-site-list__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 320px) {
  .social-site-list__link {
    font-size: 12px;
    line-height: 1.22px;
  }
}

@media screen and (min-width: 480px) {
  .social-site-list__link {
    font-size: 18px;
    line-height: 1.22px;
  }
}

.social-site-list__item {
  padding-right: 10px;
}

.social-site-list__item + .social-site-list__item {
  margin-left: 10px;
}

.social-site-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
/*# sourceMappingURL=main.css.map */