.client-list {
  @extend %list;
  display: flex;
  justify-content: center;
}
.client-list__item {
  & + & {
    margin-left: 30px;
  }
}
.client-list__link {
  width: 170px;
  height: 92px;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-link-color);
  border: 1px solid var(--social-link-color);
  border-radius: 4px;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.client-list__icon {
  fill: currentColor;
}
