.contact-nav {
  display: flex;
  margin-left: auto;

  @extend %list;
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
  .header & {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.contact-nav-vertical {
  flex-flow: column;

  @media screen and (min-width: 320px) {
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}
.contact-nav__item {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    & + & {
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    & + & {
      margin-left: 50px;
    }
  }
}

.contact-nav__item--vertical {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    & + & {
      margin-top: 0;
    }
  }
  &:not(:last-child) {
    margin-bottom: 9px;
  }
  & + & {
    margin-left: 0;
  }
}

.contact-nav__icon {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
  fill: currentColor;
}
.mail-icon {
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}
.phone-icon {
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 14px;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}
.contact-nav__link {
  font-weight: 500;
  @media screen and (min-width: 320px) {
    @include font(12px, 1.168);
  }
  @media screen and (min-width: 1200px) {
    @include font(14px, 1.15);
  }
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);

  display: flex;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-nav__link--light {
  color: var(--light-address-color);
  font-style: normal;
  @include font(14px, 1.71);
  letter-spacing: 0.03em;
}
.office-address {
  font-weight: 400;
  @include font(14px, 1.71);
  color: var(--main-white-color);
  font-style: normal;

  display: block;
  @media screen and (min-width: 320px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
