.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  @media screen and (min-width: 320px) {
    @include font(24px, 1.168);
    padding-bottom: 16px;
    padding-top: 16px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 26px;
    padding-top: 26px;
  }
  @media screen and (min-width: 1200px) {
    @include font(26px, 1.15);
    padding-bottom: 25px;
    padding-top: 24px;
  }
  color: var(--accent-color);
  text-decoration: none;

  display: block;

  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
}
.logo__studio-part {
  color: var(--logo-primary-color);
}

.logo--light {
  margin: 0 0 20px 0;
  padding: 0;
}
.logo__studio-part--light {
  color: var(--main-white-color);
}
