.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  @include font(26px, 1.15);
  color: var(--accent-color);
  text-decoration: none;

  display: block;
  padding-bottom: 25px;
  padding-top: 24px;
  margin-right: 93px;
}
.logo__studio-part {
  color: var(--logo-primary-color);
}

.logo--light {
  margin: 0 0 20px 0;
  padding: 0;
}
.logo__studio-part--light {
  color: var(--main-white-color);
}
