.footer {
  background-color: var(--dark-accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: start;
}
.footer-container {
  display: flex;
  @media screen and (min-width: 320px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__address {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 320px) {
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}
.footer-additional-container {
  display: flex;
  @media screen and (min-width: 320px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
