.join-us__title {
  text-transform: uppercase;
  @include font(14px, 1.143);
  color: var(--main-white-color);

  margin-bottom: 20px;
}
%join-us {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 320px) {
    align-items: center;
  }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-left: 70px;
    padding-top: 12px;
  }
}
.join-us {
  @extend %join-us;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-top: 5px;
    margin-left: 165px;
  }
}
.subscribe {
  @extend %join-us;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-top: 60px;
  }
}
.subscribe__input {
  @media screen and (min-width: 320px) {
    width: 290px;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  height: 50px;
  border: 1px solid var(--subscribe-border-color);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px var(--subscribe-shadow-color);
  border-radius: 4px;
  background-color: transparent;
  color: var(--main-white-color);

  padding: 15px 16px;

  &::placeholder {
    @include font(16px, 1.25);
    color: var(--subscribe-input-text-color);
  }
}
.subscribe__title {
  @extend .join-us__title;
}
.subscribe__form {
  display: flex;
  @media screen and (min-width: 320px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.subscribe__btn {
  display: flex;
  align-items: center;
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
  padding: 10px 28px 10px 29px;
  margin-left: auto;
  margin-right: auto;
}
.button__append {
  margin-left: 10px;
}
