:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-primary-color: #000000;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --light-address-color: #ffffff99;
  --dark-accent-color: #2f303a;
  --grey-color: #f5f4fa;
  --border-color: #ececec;
  --project-card-border-color: #eeeeee;
  --social-link-color: #afb1b8;
  --placeholder-color: #75757580;
  --input-border-color: #21212133;
  --subscribe-border-color: #ffffff4d;
  --subscribe-shadow-color: #00000026;
  --subscribe-input-text-color: #ffffff99;
  --social-list-link-footer-background-color: #ffffff1a;
  --btn-submit-color: #00000026;

  --header-text-margin-index: 10px;
  --card-padding-index: 30px;
  --header-text-margin-portfolio: 4px;
  --card-padding-portfolio: 20px;
  --card-margin: 30px;

  --button-radius: 4px;

  --main-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
